body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7faff;
}

header {
    background: #6c63ff;
    color: white;
    padding: 15px;
    text-align: center;
}

.id {
    font-size: 14px;
    margin-top: -10px;
}

nav {
    background: #f1f1f1;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    color: #444;
}

nav a:hover {
    color: #6c63ff;
}

.hero {
    padding: 50px;
    text-align: center;
    background: #ffd86b;
}

.hero .btn {
    background: #6c63ff;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.icons {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.icon-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 22%;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 0 10px #ddd;
}

.features-list {
    padding: 30px;
}

.feature-box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #ddd;
}

.navigation-panel {
    padding: 15px;
    text-align: center;
}

#map {
    height: 500px;
    width: 100%;
}
footer {
    background: #6c63ff;
    color: white;
    padding: 10px;
    text-align: center;
}